/*--------------WRAPPERS---------------*/

.userDashWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.playModeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.playModeBtn:hover {
    background-color: mediumvioletred;
}

.gamePlayMode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    width: 100%;
}

.scoreWrapper {
    display: flex;
    justify-content: center;
}

/*--------------COMPONENTS---------------*/


.playModeBtn {
    margin: 10px 25px 40px 25px;
    width: 40%;
    height: 20vmax;
    font-size: 5vmax;
    line-height: 3;
    background-color: mediumpurple;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 2.5px;
    font-weight: 900;
    transition: .3s ease-out;
}

.playModeLink {
    color: white !important;
}

.scorebtn {
    background-color: rgb(238,140,252);
    margin: 5px 15px;
}

.scorebtn:hover {
    background-color: mediumvioletred;
}

