/*--------------WRAPPERS---------------*/

.userDashWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.playModeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.playModeBtn:hover {
    background-image: linear-gradient(to bottom,rgba(85,65,95, .3), rgba(238, 140,252, .5));
    background-color: black !important;
}

.gamePlayMode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    width: 100%;
}

.scoreWrapper {
    display: flex;
    justify-content: center;
}

/*--------------COMPONENTS---------------*/


.playModeBtn {
    margin: 10px 25px 40px 25px;
    width: 40%;
    height: 20vmax;
    font-size: 5vmax;
    line-height: 10vmax;
    background-image: linear-gradient(to bottom,rgba(85,65,95, .9), rgb(238, 140,252));
    text-align: center;
    text-transform: uppercase;
}

.playModeLink {
    color: white !important;
}

.scorebtn {
    background-color: rgb(238,140,252);
    margin: 5px 15px;
}

