/*---------------------Init Defaults----------------------*/

.ingredientRowWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 250px;
    width: 50vmax;
}

.ingredientHolder {
    height: 120px;
    width: 120px;
    margin: 10px;
    border: solid 5px black;
    text-align: center;
}

.ingredient {
    width: 100px;
    height: 100px;
    margin: 5px;
}

/*---------------------On Drag Start----------------------*/


.invisible {
    display: none;
}

/*---------------------On Drag Enter---------------------*/

.hovered {
    border: dotted 5px black;
}


/*---------------------On Drag Over----------------------*/
/*---------------------On Drag End----------------------*/