.cauldronWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cauldronImg {
    margin-top: 40px;
    width: 200px;
    height: 185px;
}

.baseComponentText {
    font-size: x-large;
}